<app-header></app-header>
<div id="index">
  <h1>
    Üdvözlünk a Termék nyilvántartó alkalmazásban!
  </h1>
  <h2>Ismertető</h2>
  <div id="Description">A modern felgyorsuló világban, ahol szinte minden információt meg lehet találni néhány percen belül, elengedhetetlen, hogy ezeket az adatokat a lehető legrendszerezettebb módon tároljuk. Fontos az is, hogy ezeket helytakarékosan, ugyanazt az információmorzsát minél kevesebbszer raktározzuk el úgy, hogy az ne menjen a működés rovására. A vonalkódok nyilvántartásában ma is káosz van, erről sok dolog tehet… A szabályozatlanság, a hanyagság, az, hogy a technológia nem volt alkalmas arra, hogy ilyen adatokat tároljanak nagy mennyiségben abban az időben, amikor bejött a köztudatba. Hozzátett ehhez a cégek érdektelensége, hogy ezeket az adatokat eltárolják egy közös nagy rendszerben. <br>Az alkalmazás célja ezt megalapozni, mely egyben vonzóvá teszi az értékesítők számára a használatát.</div>
</div>